<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/Visualizer.js" charset="utf-8"></script>
    <script src="/js/jq351.js" charset="utf-8"></script>
    <script src="/js/tile.js" charset="utf-8"></script>
    <script src="/js/dfs.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="mainContainer">
        <nav>
            <ul>
                <li><a href="#">Test</a> </li>
                <li><a href="#">test</a> </li>
                <li><a href="#">test</a> </li>
            </ul>
            <ul>
                <li><a href="#">asd</a> </li>
                <li><a href="#">fdsa</a> </li>
            </ul>
        </nav>
        <div class="canvasContainer">
            <canvas id="canvas"></canvas>
        </div>
    </div>
  </body>
</html>
