<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/bundle.js" charset="utf-8"></script>
    <script src="/js/lodash.js" charset="utf-8"></script>
    <script src="/js/const.js" charset="utf-8"></script>
    <script src="/js/tile.js" charset="utf-8"></script>

    <script src="/js/MazeGenerator.js" charset="utf-8"></script>
    <script src="/js/PathFinder.js" charset="utf-8"></script>
    <script src="/js/Visualizer.js" charset="utf-8"></script>
    <script src="/js/jq351.js" charset="utf-8"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="mainContainer">
        <nav>
            <ul>
                <li><a id="mazegen_standard">Standard Maze</a></li>
                <li><a id="mazegen_block">Block Maze</a></li>
                <li><a>Algorithms</a>
                    <ul class="list">
                        <div class="dropdownItems">
                            <li><a id="pathfind_dfs">Depth First Search</a></li>
                            <li><a id="pathfind_bfs">Breadth First Search</a></li>
                            <li><a id="pathfind_astar">A-Star</a></li>
                        </div>
                    </ul>
                </li>
                <li><input type="range" min="2" max="6" value="5" class="slider" id="tileSize"></li>
            </ul>
            <ul>
                <li><a id="toolKit" class="dropdown"><span>Tool</span> <span class="icon-node node-free"></span></a>
                    <ul class="list">
                        <div class="dropdownItems">
                            <li><a id="tool_dest"><span class="icon-node node-dest"></span><span>Destination</span></a></li>
                            <li><a id="tool_emptynode"><span class="icon-node node-free"></span><span>Free Node</span></a></li>
                            <li><a id="tool_obstacle"><span class="icon-node node-obstacle"></span><span>Obstacle</span></a></li>
                            <li><a id="tool_movenode"><span class="icon-node node-move"></span><span>Move Node</span></a></li>
                        </div>
                    </ul>
                </li>
                <li><a id="genObstacle">Generate Obstacles</a> </li>
                <li><a id="resetGraph">Reset</a> </li>
            </ul>
        </nav>
        <div class="canvasContainer">
            <canvas id="canvas"></canvas>
        </div>
    </div>
  </body>
</html>
